.data-table {
  background-color: white;
  --table-row-hover-background-color: rgba(0, 0, 0, 0.12);

  &__empty-row {
    height: 50px;
    text-align: center;
  }

  .cell__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cell__select-all .cell__wrapper,
  .cell__select .cell__wrapper {
    padding: 0;
  }
}
