@import "./FilterContainer.scss";
@import "./DataTableHead.scss";

.data-table {
  &__empty-row {
    height: 50px;
    text-align: center;
  }

  .cell__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cell__select-all,
  .cell__select {
    min-width: 50px;
    width: 50px;
  }

  .cell__select-all .cell__wrapper,
  .cell__select .cell__wrapper {
    padding: 0;
  }
}
