@import "./mixins.scss";

.data-table {
  background-color: white;

  &__empty-row {
    height: 50px;
    text-align: center;
  }

  .cell__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cell__select-all .cell__wrapper,
  .cell__select .cell__wrapper {
    padding: 0;
  }
}

.asd-sorting {
  position: relative;
  @include triangle(bottom);
}

.desc-sorting {
  position: relative;
  @include triangle(top);
}

.sortable {
  cursor: pointer;
  &:hover {
    background-color: lightgray;
  }
}
